<ngx-carousel [inputs]="carouselOne" (carouselLoad)="myfunc($event)" class="banner">
  <ngx-item NgxCarouselItem>
    <div class="slideItem"><img src="/assets/image/001.png"></div>
  </ngx-item>
  <ngx-item NgxCarouselItem>
    <div class="slideItem"><img src="/assets/image/002.png"></div>
  </ngx-item>
  <ngx-item NgxCarouselItem>
    <div class="slideItem"><img src="/assets/image/003.png"></div>
  </ngx-item>
  <ngx-item NgxCarouselItem>
    <div class="slideItem"><img src="/assets/image/004.png"></div>
  </ngx-item>
  <div NgxCarouselPrev class='leftRs'><div class="arrowed"><div class="arrow-left"></div></div></div>
  <div NgxCarouselNext class='rightRs'><div class="arrowed"><div class="arrow-right"></div></div></div>

</ngx-carousel>